body{
  padding-top: 50px;
}
#intro{
  padding-top: 100px;
  padding-bottom:75px;
  background-color: #b3cde0;
}
#mid{
  padding-top: 100px;
  padding-bottom: 75px;
}
#mid2{
  padding-top: 100px;
  padding-bottom: 75px;
  background-color: #b3cde0;
}
#end{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #011f4b; 
}
.jumbotron{
  min-height: 500px;
  margin-bottom: 0px;
}
